.header {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logo {
  width: 120px;
}

.header {
  padding: 0px 60px;
}

.nav-items>ul {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  list-style-type: none;
}

.nav-items>ul>li {
  padding: 10px 10px 0px 10px;
  margin: 10px;
}

/* Restaurant card */
.body {
  padding: 0px 60px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  padding: 20px;
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 20px;
  cursor: pointer;
}


.res-card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.search {
  padding: 10px;
}

.res-logo {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.res-card>h4 {
  font-weight: 400;
  font-size: 14px;
  margin: 10px;
  color: rgb(98, 18, 18);
}

.filter-btn {
  margin: 15px;
  cursor: pointer;
}